<!-- <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' /> -->
<script src='https://codepen.io/Deja2/pen/JMPLEQ.js' type='text/javascript'></script>
<nav>
    <a class="responsive-menu" href="#" id="resp-menu"><i class="fa fa-reorder"></i> Menu</a>
    <ul class="menu">
        <li><a routerLink="/documentos" routerLinkActive="active" ariaCurrentWhenActive="page">Carga de documentos</a></li>
        <li><a routerLink="/tabla" routerLinkActive="active" ariaCurrentWhenActive="page">Bolsa de palabras</a></li>
        <li><a routerLink="/validaciones" routerLinkActive="active" ariaCurrentWhenActive="page">Validaciones</a></li>
    </ul>
</nav>

<router-outlet />